// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// fonts 
+font(HelveticaNeueCyrRoman, HelveticaNeueCyrRoman)
=hr
	font-family: 'HelveticaNeueCyrRoman'
+font(HelveticaNeueCyrUltraLight, HelveticaNeueCyrUltraLight)
=hul
	font-family: 'HelveticaNeueCyrUltraLight'
+font(HelveticaNeueCyrLight, HelveticaNeueCyrLight)
=hl
	font-family: 'HelveticaNeueCyrLight'		
+font(HelveticaNeueCyrLightItalic, HelveticaNeueCyrLightItalic)
=hli
	font-family: 'HelveticaNeueCyrLightItalic'	
+font(HelveticaNeueCyrBold, HelveticaNeueCyrBold)
=hb
	font-family: 'HelveticaNeueCyrBold'
+font(HelveticaNeueCyrBoldItalic, HelveticaNeueCyrBoldItalic)
=hbi
	font-family: 'HelveticaNeueCyrBoldItalic'	
+font(HelveticaNeueCyrBlack, HelveticaNeueCyrBlack)
=hbl
	font-family: 'HelveticaNeueCyrBlack'	
=pf
	font-family: 'Playfair Display', serif	
	
// vars
$orange-b: #e8c29a
$orange: #ff9000
$dark: #1a142f

html
	font-size: 10px
body
	+hr
	font-size: 1.3rem 
	line-height: 1.4
	color: $dark
=justify
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: top
	font-size: 12px

.center
	max-width: 1280px
	margin: 0 auto

.h1
	font-size: 6rem
	+pf
	color: $dark
	font-weight: bold
.h2
	text-transform: uppercase
	text-align: center
	font-size: 5rem
	color: $dark
	+hul
	letter-spacing: 0.3rem  
.h3
	font-size: 3rem
	color: $dark
	+hul
	text-transform: uppercase
	letter-spacing: 0.3rem
.title
	padding-top: 40px
	margin-bottom: 40px
	font-size: 2.4rem
	text-align: center
	+pf
	font-style: italic
	strong
		font-weight: bold	 
.subtitle
	font-size: 4rem
	+pf
	font-style: italic
.separate
	margin: 50px auto
	width: 265px
	font-size: 0
	hr
		display: inline-block
		vertical-align: middle
		width: 93px
		height: 1px
		border: none
		background: $orange-b
	span
		margin: 0 13px 	

// parallax img
.parallax-img
	position: absolute
	z-index: 0
	+r(1280)
		display: none
	&.parallax-img_1
		+transform(translateY(200px))
		.consist &
			+transform(translateY(0px))
	&.parallax-img_2
		+transform(translateY(-80px))
		.consist &
			+transform(translateY(-280px))
	&.parallax-img_3
		+transform(translateY(600px))
		.consist &
			+transform(translateY(152px))		
// icons
[class^=icon-]
	display: inline-block
	vertical-align: middle
.icon-horse
	+s(horse)		
.icon-play
	+s(play)
.icon-down
	+s(down)
.icon-info
	+s(info)
.icon-info-white
	+s(info-white)
@for $i from 1 through 9
	.icon-medical#{$i}
		+s(medical#{$i})			








































































































