// fonts 
+font(HelveticaNeueCyrRoman, HelveticaNeueCyrRoman)
=hr
	font-family: 'HelveticaNeueCyrRoman'
+font(HelveticaNeueCyrUltraLight, HelveticaNeueCyrUltraLight)
=hul
	font-family: 'HelveticaNeueCyrUltraLight'
	font-weight: 100 
+font(HelveticaNeueCyrLight, HelveticaNeueCyrLight)
=hl
	font-family: 'HelveticaNeueCyrLight'		
+font(HelveticaNeueCyrLightItalic, HelveticaNeueCyrLightItalic)
=hli
	font-family: 'HelveticaNeueCyrLightItalic'	
+font(HelveticaNeueCyrBold, HelveticaNeueCyrBold)
=hb
	font-family: 'HelveticaNeueCyrBold'
+font(HelveticaNeueCyrBoldItalic, HelveticaNeueCyrBoldItalic)
=hbi
	font-family: 'HelveticaNeueCyrBoldItalic'	
+font(HelveticaNeueCyrBlack, HelveticaNeueCyrBlack)
=hbl
	font-family: 'HelveticaNeueCyrBlack'	
=pf
	font-family: 'Playfair Display', serif	
	
// vars
$orange-b: #e8c29a
$orange: #ff9000
$dark: #1a142f

html
	font-size: 10px
	+r(1366)
		font-size: 9px
	+r(1024)
		font-size: 8px
	+r(600)
		font-size: 7px		
body
	+hr
	font-size: 1.3rem 
	line-height: 1.4
	color: $dark
	+r(1023)
		font-size: 12px
=justify
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: top
	font-size: 12px

.out
	position: relative
	&.open-menu
		.container
			&:after
				width: 100%
				height: 100%
				opacity: 1
				+tr(opacity 500ms)
		.mob, .mob-close
			+transform(translate3d(0, 0, 0))
		.mob-close
			visibility: visible		
.container
	position: relative
	left: 0
	z-index: 99
	+tr(transform 500ms)
	&:after
		content: ""
		position: absolute
		top: 0
		right: 0
		width: 0
		height: 0
		background: rgba(#483c31, 0.6)
		opacity: 0
		+transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s)
		z-index: 1
		
.main
	position: relative
	z-index: 1				 	
.center
	max-width: 1280px
	margin: 0 auto
	+r(1280)
		padding: 0 15px
	+r(1024)
		padding: 0 20px 	 

.h1
	font-size: 6rem
	+pf
	color: $dark
	font-weight: bold
	+r(768)
		font-size: 5rem
	+r(600)
		font-size: 32px	
.h2
	text-transform: uppercase
	text-align: center
	font-size: 5rem
	color: $dark
	+hul
	letter-spacing: 0.3rem
	+r(600)
		font-size: 4rem  
.h3
	font-size: 3rem
	color: $dark
	+hul
	text-transform: uppercase
	letter-spacing: 0.3rem
	+r(768)
		font-size: 16px
.title
	padding-top: 40px
	margin-bottom: 40px
	font-size: 2.4rem
	text-align: center
	+pf
	font-style: italic
	strong
		font-weight: bold
	button
		background: transparent
		font-style: italic
		font-size: 2.4rem
		+pf  
		text-decoration: underline
		color: $orange
		&:hover
			text-decoration: none		 
.subtitle
	font-size: 4rem
	+pf
	font-style: italic
.separate
	margin: 50px auto
	width: 265px
	font-size: 0
	hr
		display: inline-block
		vertical-align: middle
		width: 93px
		height: 1px
		border: none
		background: $orange-b
	span
		margin: 0 13px
	+r(768)
		margin:  20px auto 	 	

// sonar animation
.sonar
	will-change: transform, background, box-shadow
	+transition(transform ease-out 0.2s, background 0.2s, box-shadow 0.2s)
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-radius: 50%
		-webkit-box-sizing: content-box
		-moz-box-sizing: content-box
		box-sizing: content-box
		pointer-events: none
		padding: 0
		box-shadow: 0 0 0 2px rgba(255,255,255,0.5)
		opacity: 0
		+scale(0.9)
		z-index: -1
	&:hover
		+scale(0.93)
		&:after
			+animation(sonarEffect7 1.3s ease-out 75ms)

// parallax img
.parallax-img
	position: absolute
	top: 0 
	z-index: 0
	+r(1280)
		display: none
// btn
.btn
	display: inline-block
	height: 41px
	line-height: 41px
	padding: 0 27px
	background: $orange
	color: #fff
	font-size: 11px
	+hb
	letter-spacing: 1px 
	text-decoration: none
	text-transform: uppercase
	border-radius: 19px
	+tr(background 200ms)
	&:hover
		background: darken($orange, 5%) 
	&.btn_violet
		background: #b151b0
		&:hover
			background: darken(#b151b0, 5%) 
	&.btn_brown
		background: #987564 
		&:hover
			background: darken(#987564, 5%) 	  		

// icons
[class^=icon-]
	display: inline-block
	vertical-align: middle
.icon-horse
	+s(horse)		
.icon-play
	+s(play)
.icon-play-white
	+s(play-white)	
.icon-down
	+s(down)
.icon-info
	+s(info)
.icon-info-white
	+s(info-white)
.icon-info-small
	+s(info-small)	
.icon-machine
	+s(machine)
.icon-plant
	+s(plant)
.icon-nipple
	+s(nipple)
.icon-camera
	+s(camera)
.icon-house
	+s(house)	
.icon-calendar
	+s(calendar)
.icon-book
	+s(book)
.icon-medal
	+s(medal)
.icon-bottle
	+s(bottle)
.icon-glass
	+s(glass)
.icon-ferment
	+s(ferment)
.icon-blend
	+s(blend)
.icon-thermometer
	+s(thermometer)
.icon-clock
	+s(clock)												
@for $i from 1 through 9
	.icon-medical#{$i}
		+s(medical#{$i})

// mobile menu
.mob
	position: fixed
	top: 0
	left: 0
	width: 320px
	height: 100%
	padding: 40px 0
	background: #fff
	overflow-y: auto
	text-align: center
	z-index: 100
	+transform(translate3d(-100%, 0, 0))
	+tr(transform 500ms)
	+r(360)
		width: 270px				
	.mob__logo
		display: inline-block
		margin-bottom: 40px
		+s(logo)
	.mob__nav
		position: relative
		margin-bottom: 30px
	.mob__link
		display: inline-block
		margin-bottom: 10px
		font-size: 1.8rem
		color: #4c4369
		+pf
		text-decoration: none
		
		&:hover, &.is-active
			text-decoration: none
	.mob__menu
		li
			margin-bottom: 10px
			a
				+pf
				font-size: 1.8rem
				color: $orange-b
	.mob__order
		font-size: 1.8rem
		color: #4c4369
		+pf
		font-weight: bold
		&:hover
			text-decoration: none
.mob-close
	position: absolute
	top: 60px
	left: 340px
	font-size: 0
	cursor: pointer
	visibility: hidden
	+transform(translate3d(-320px, 0, 0))
	+tr(transform 500ms)
	z-index: 100
	+r(360)
		left: 280px
		+transform(translate3d(-270px, 0, 0))
	span
		display: inline-block
		vertical-align: middle
		font-size: 1.1rem
		color: #fff
		letter-spacing: 1px
		text-transform: uppercase
		+r(360)
			display: none  
	i
		position: relative
		margin-right: 40px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 35px
			height: 2px
			background: #fff
			+rotate(45)
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 35px
			height: 2px
			background: #fff
			+rotate(-45)
				  											







































































































