// hamburger
.menu-button
    position: relative
    display: block
    background: none
    outline: none
    border: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    -webkit-tap-highlight-color: transparent
    &.is-open
        .menu__text
            color: #ef7e07
        .morph-shape svg path,
        .morph-shape svg line
            stroke: #ef7e07   
    .morph-shape
        display: inline-block
        vertical-align: middle
        width: 40px
        height: 40px  
        margin-right: 21px
    
    .morph-shape svg path,
    .morph-shape svg line
        stroke: #e8c29a
        stroke-width: 2px
        -webkit-transition: -webkit-transform 0.3s
        transition: transform 0.3s
    
.menu-button.is-open .morph-shape svg path:first-of-type
    -webkit-transform: translate3d(0, -6px, 0)
    transform: translate3d(0, -6px, 0)

.menu-button.is-open .morph-shape svg path:nth-of-type(2)
    -webkit-transform: translate3d(0, 6px, 0)
    transform: translate3d(0, 6px, 0)
    
// button
.button
    background: none
    border: none
    height: 50px
    outline: none
    position: relative
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-tap-highlight-color: transparent
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    .button__text
        display: block
        text-align: center
        position: relative
        z-index: 100
        padding: 0 18px 
        font-size: 11px
        color: $orange-b
        letter-spacing: 1px
        text-transform: uppercase
        -webkit-touch-callout: none
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
    .morph-shape
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
.button--line
    .morph-shape svg
        fill: none
        stroke:  $orange-b
        stroke-width: 2px
        stroke-linecap: round
    &:nth-child(2) .morph-shape svg
        fill: #938edc
.button--fill
    .button__text
        color: #fff
    .morph-shape svg
        fill: $orange-b
    &:nth-child(4) .morph-shape svg
        fill: $orange-b

.button--round .morph-shape svg
    stroke-width: 7px
/* Example for effect*/
.button--anim-1
    .button__text
        -webkit-transition: -webkit-transform 0.15s
        transition: transform 0.15s
    &:active .button__text
        -webkit-transform: translate3d(0, -8px, 0)
        transform: translate3d(0, -8px, 0)  
    
// animations for popups apprarence
.dialog,
.dialog__overlay
    width: 100%
    height: 100%
    top: 0
    left: 0

.dialog__overlay
    position: absolute
    z-index: 1
    background: rgba(55, 58, 71, 0.9)
    opacity: 0
    -webkit-transition: opacity 0.3s
    transition: opacity 0.3s
    -webkit-backface-visibility: hidden
    .dialog_endo &, .dialog_chemistry &
        background: rgba(#55c977, 0.8)
    .dialog_skin &
        background: rgba(#eaae89, 0.8) 
    .dialog_heart &
        background: rgba(#fd4040, 0.8) 
    .dialog_brain &
        background: rgba(#f3db53, 0.8) 
    .dialog_stomach &
        background: rgba(#ee6f75, 0.8) 
    .dialog_lungs &
        background: rgba(#729ee7, 0.8)                   


.dialog--open
    .dialog__overlay
        opacity: 1
        pointer-events: auto

.dialog__content
    width: 100%
    max-width: 840px
    min-width: 290px
    background: #fff
    padding: 6rem 3rem 8rem
    text-align: center
    position: relative
    z-index: 5
    opacity: 0
    .dialog_chemistry &
        max-width: 660px
        box-shadow: 1px 0 182px #43684d

.dialog--open
    .dialog__content
        pointer-events: auto
.dialog
    position: fixed
    display: -webkit-flex
    display: flex
    -webkit-align-items: center
    align-items: center
    -webkit-justify-content: center
    justify-content: center
    pointer-events: none
    z-index: 999
    .morph-shape
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: -1
    .morph-shape svg
        fill: #fff
.dialog__overlay
    -webkit-transition-duration: 0.4s
    transition-duration: 0.4s

.dialog__content
    background: transparent
.dialog-close
    position: absolute
    top: -32px
    right: -8px
    font-size: 0
    +s(close)
.dialog-inner
    opacity: 0
    -webkit-transform: scale3d(0.7, 0.5, 1)
    transform: scale3d(0.7, 0.5, 1)
    +transition(opacity 0.3s, transform 0.3s)

.dialog--open .dialog-inner
    opacity: 1
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s
    transition: opacity 0.3s, transform 0.3s
    -webkit-transition-delay: 0.2s
    transition-delay: 0.2s
    
.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content
    -webkit-animation-duration: 0.4s
    animation-duration: 0.4s
    -webkit-animation-fill-mode: forwards
    animation-fill-mode: forwards
    -webkit-animation-timing-function: cubic-bezier(0.6,0,0.4,1)
    animation-timing-function: cubic-bezier(0.6,0,0.4,1)

.dialog.dialog--open .dialog__content
    -webkit-animation-name: anim-open
    animation-name: anim-open

.dialog.dialog--close .dialog__content
    -webkit-animation-name: anim-close
    animation-name: anim-close

+keyframes(anim-open)
    0% 
        opacity: 0
        -webkit-transform: scale3d(0.6, 0.6, 1)
        transform: scale3d(0.6, 0.6, 1)
    100% 
        opacity: 1
        -webkit-transform: scale3d(1, 1, 1)
        transform: scale3d(1, 1, 1)

+keyframes(anim-close)
    0%
        opacity: 1
    100%
        opacity: 0
        -webkit-transform: scale3d(0.6, 0.6, 1)
        transform: scale3d(0.6, 0.6, 1)